<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-Utils</title>
</head>
<body>
    <h2 style="text-align: center;">This is text analyzer</h2>
    <h4 style="text-align: center;" >Enter your text and it will be analyzed automatically</h4>

    <form action="/removepunctuations" method="get">
        <textarea name="text" style="margin-left:80px;  width: 800px; height:100px" placeholder="Enter your text here..."></textarea><br>
        <input type="checkbox" style="margin-left:80px; margin-bottom: 15px;" name="removepunctuation" >Remove-punctuations<br>
        <input type="checkbox" style="margin-left:80px; margin-bottom: 15px;" name="spaceremover" >Space-remover<br>
        <input type="checkbox" style="margin-left:80px; margin-bottom: 15px;" name="capitalize" >Capitalize<br>
        <button type="submit" style="margin-left: 80px; ">Analyze Text</button>
    </form>
</body>
</html>